* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.jtf-center {
  justify-content: center;
}

.aln-center {
  align-items: center;
}

.main-container {
  height: 100dvh;
  background-color: antiquewhite;
}

textarea {
  resize: none;
}

.g-8 {
  gap: 8px;
}

.g-12 {
  gap: 12px;
}

.g-16 {
  gap: 16px;
}

.g-24 {
  gap: 24px;
}

.btn-question-container button {
  width: 100%;
}

.question-render {
  font-size: 20px;
}
